<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce gift cards entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <GiftCard type="Sitecore.Commerce.Entities.GiftCards.GiftCard, Sitecore.Commerce"/>
      <GiftCardPaymentInfo type="Sitecore.Commerce.Entities.GiftCards.GiftCardPaymentInfo, Sitecore.Commerce"/>
    </commerce.Entities>

    <!-- GIFT CARDS SERVICE PROVIDER 
         Defines the object which provides core gift cards services.
         Default implementation simply calls corresponding pipelines.
    -->
    <giftCardServiceProvider type="Sitecore.Commerce.Services.GiftCards.GiftCardServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <pipelines>
      <commerce.giftCards.getGiftCard>
      </commerce.giftCards.getGiftCard>
    </pipelines>

  </sitecore>
</configuration>