<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  ENTITY FACTORY
          Creates an entity by entity name. Allows to substitute default entity with extended one.
    -->
    <entityFactory type="Sitecore.Commerce.Entities.EntityFactory, Sitecore.Commerce" singleInstance="true" />

    <eaPlanProvider type="Sitecore.Commerce.Multishop.EaPlanProvider, Sitecore.Commerce" singleInstance="true" />

    <contactFactory type="Sitecore.Commerce.Contacts.ContactFactory, Sitecore.Commerce" />

    <itemClassificationService type="Sitecore.Commerce.Products.ItemClassificationService, Sitecore.Commerce" singleInstance="true" />
    
    <commerceContext type="Sitecore.Commerce.Multishop.CommerceContextBase, Sitecore.Commerce" /> 
    
   <!-- Commonly shared Commerce entities --> 
    <commerce.Entities>
      <Party type="Sitecore.Commerce.Entities.Party, Sitecore.Commerce" />
      <SystemMessage type="Sitecore.Commerce.Services.SystemMessage, Sitecore.Commerce" />
    </commerce.Entities>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Commerce.Pipelines.RegisterConnectTypesWithMongo, Sitecore.Commerce"/>
      </initialize>
      <getContentEditorWarnings>
        <processor type="Sitecore.Commerce.Pipelines.ContentEditorLicenseWarning, Sitecore.Commerce"/>
      </getContentEditorWarnings>
    </pipelines>
    
  </sitecore>
</configuration>