<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce customer entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <CommerceUser type="Sitecore.Commerce.Entities.Customers.CommerceUser, Sitecore.Commerce" />
      <CommerceCustomer type="Sitecore.Commerce.Entities.Customers.CommerceCustomer, Sitecore.Commerce" />
      <CustomerParty type="Sitecore.Commerce.Entities.Customers.CustomerParty, Sitecore.Commerce" />
      <CustomerPartyTypes type="Sitecore.Commerce.Entities.Customers.CustomerPartyTypes, Sitecore.Commerce" />
    </commerce.Entities>

    <!--  CUSTOMER SERVICE PROVIDER
    -->
    <customerServiceProvider type="Sitecore.Commerce.Services.Customers.CustomerServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <sitecoreUserRepository type="Sitecore.Commerce.Data.Customers.SitecoreUserRepository, Sitecore.Commerce" singleInstance="true">
      <param ref="entityFactory" />
      <param desc="serializationProperty">__Serialization</param>
      <param desc="domain">CommerceUsers</param>
      <param desc="role">User Role</param>
    </sitecoreUserRepository>

    <sitecoreCustomerRepository type="Sitecore.Commerce.Data.Customers.SitecoreMembershipCustomerRepository, Sitecore.Commerce">
      <param ref="entityFactory" />
      <param desc="custmerSerializationProperty">__Serialization</param>
      <param desc="partySerializationProperty">__PartySerialization</param>
      <param desc="domain">CommerceCustomers</param>
      <param desc="role">Customer Role</param>
    </sitecoreCustomerRepository>

    <pipelines>
      <!--  CREATE USER
            This pipeline is responsible for creating a user account.
      -->
      <commerce.customers.createUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateUser.CreateUserInExternalSystem, Sitecore.Commerce">
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateUser.CreateUserInSitecore, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateContact.CreateContactInXDb, Sitecore.Commerce">
          <param ref="sitecoreUserRepository"/>
          <param ref="entityFactory"/>
        </processor>        
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserGoal, Sitecore.Commerce">
          <Name>User Account Created</Name>
          <Text>User account has been created.</Text>
        </processor>
      </commerce.customers.createUser>

      <!--  UPDATE USER
            This pipeline is responsible for updating an existing user account.
      -->
      <commerce.customers.updateUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateUser.UpdateUserInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateUser.UpdateUserInSitecore, Sitecore.Commerce" >
          <param ref="sitecoreUserRepository" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateContact.UpdateContactInXDb, Sitecore.Commerce">
          <param ref="sitecoreUserRepository"/>
        </processor>        
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <Name>User Account Updated</Name>
          <Text>User account has been updated.</Text>
        </processor>
      </commerce.customers.updateUser>

      <!--  DELETE USER
            This pipeline is responsible for deleting an existing user account.
      -->
      <commerce.customers.deleteUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteUser.DeleteUserInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteUser.DeleteUserInSitecore, Sitecore.Commerce" >
          <param ref="sitecoreUserRepository" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <Name>User Account Deleted</Name>
          <Text>User account has been deleted.</Text>
        </processor>
      </commerce.customers.deleteUser>

      <!--  DISABLE USER
            This pipeline is responsible for disabling an existing user account.
      -->
      <commerce.customers.disableUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableUser.DisableUserInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableUser.DisableUserInSitecore, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <Name>User Account Disabled</Name>
          <Text>User account has been disabled.</Text>
        </processor>
      </commerce.customers.disableUser>

      <!--  ENABLE USER
            This pipeline is responsible for enabling an existing user account.
      -->
      <commerce.customers.enableUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableUser.EnableUserInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableUser.EnableUserInSitecore, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <Name>User Account Enabled</Name>
          <Text>User account has been enabled.</Text>
        </processor>
      </commerce.customers.enableUser>

      <!--  GET USER
            Queries and returns a user account. 
      -->
      <commerce.customers.getUser>
        <!--<processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromExternalSystem, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>-->
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromSitecore, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>
      </commerce.customers.getUser>

      <!--  GET USERS
            Queries and returns user accounts. 
            Different input parameters can be provided and they will be combined using logical 'and'.
      -->
      <commerce.customers.getUsers>
        <!--<processor type="Sitecore.Commerce.Pipelines.Customers.GetUsers.GetUsersFromExternalSystem, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>-->
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUsers.GetUsersFromSitecore, Sitecore.Commerce">
          <param ref="sitecoreUserRepository" />
        </processor>
      </commerce.customers.getUsers>

      <!--  CREATE CUSTOMER
            This pipeline is responsible for creating a customer account. The customers are managed by the commerce system.
      -->
      <commerce.customers.createCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateCustomer.CreateCustomerInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateCustomer.CreateCustomerInSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerGoal, Sitecore.Commerce">
          <Name>Customer Account Created</Name>
          <Text>Customer account has been created.</Text>
        </processor>
      </commerce.customers.createCustomer>

      <!--  UPDATE CUSTOMER
            This pipeline is responsible for updating an existing customer account. The customers are managed by the commerce system.
      -->
      <commerce.customers.updateCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <Name>Customer Account Updated</Name>
          <Text>Customer account has been updated.</Text>
        </processor>
      </commerce.customers.updateCustomer>

      <!--  DELETE CUSTOMER
            This pipeline is responsible for deleting an existing customer account. The customers are managed by the commerce system.
      -->
      <commerce.customers.deleteCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteCustomer.DeleteCustomerFromExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteCustomer.DeleteCustomerFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <Name>Customer Account Deleted</Name>
          <Text>Customer account has been deleted.</Text>
        </processor>
      </commerce.customers.deleteCustomer>

      <!--  DISABLE CUSTOMER
            This pipeline is responsible for disabling an existing customer account.
      -->
      <commerce.customers.disableCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableCustomer.DisableCustomerInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableCustomer.DisableCustomerInSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <Name>Customer Account Disabled</Name>
          <Text>Customer account has been disabled.</Text>
        </processor>
      </commerce.customers.disableCustomer>

      <!--  ENABLE CUSTOMER
            This pipeline is responsible for enabling an existing customer account.
      -->
      <commerce.customers.enableCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableCustomer.EnableCustomerInExternalSystem, Sitecore.Commerce" />
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableCustomer.EnableCustomerInSitecore, Sitecore.Commerce">       
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <Name>Customer Account Enabled</Name>
          <Text>Customer account has been enabled.</Text>
        </processor>
      </commerce.customers.enableCustomer>

      <!--  GET CUSTOMER
            This pipeline is responsible for retreiving a customer account.
      -->
      <commerce.customers.getCustomer>
        <!--<processor type="Sitecore.Commerce.Pipelines.Customers.GetCustomer.GetCustomerFromExternalSystem, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>-->
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetCustomer.GetCustomerFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.getCustomer>

      <!--  GET CUSTOMERS
            This pipeline is responsible for retreiving of the existing customer accounts.
      -->
      <commerce.customers.getCustomers>
        <!--<processor type="Sitecore.Commerce.Pipelines.Customers.GetCustomers.GetCustomersFromExternalSystem, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>-->
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetCustomers.GetCustomersFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.getCustomers>

      <!--  ADD CUSTOMERS
            This pipeline is responsible for adding customers to an existing user account.
      -->
      <commerce.customers.addCustomers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomersToExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomersToSitecore, Sitecore.Commerce">
          <param desc="userRepository" ref="sitecoreUserRepository" />
        </processor>
      </commerce.customers.addCustomers>

      <!--  REMOVE CUSTOMERS
            This pipeline is responsible for removing customers from an existing user account.
      -->
      <commerce.customers.removeCustomers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomersFromExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomersFromSitecore, Sitecore.Commerce">
          <param desc="userRepository" ref="sitecoreUserRepository" />
        </processor>
      </commerce.customers.removeCustomers>

      <!--  ADD USERS
            This pipeline is responsible for adding users to an existing customer account.
      -->
      <commerce.customers.addUsers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddUsersToExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddUsersToSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.addUsers>

      <!--  REMOVE USERS
            This pipeline is responsible for removing users from an exiting customer account.
      -->
      <commerce.customers.removeUsers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveUsersFromExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveUsersFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.removeUsers>

      <commerce.customers.addCustomerParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomerPartiesToExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomerPartiesToSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.addCustomerParties>

      <commerce.customers.removeCustomerParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomerPartiesFromExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomerPartiesFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.removeCustomerParties>

      <commerce.customers.updateCustomerParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomerPartiesInExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomerPartiesInSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.updateCustomerParties>

      <commerce.customers.addParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.addParties>

      <commerce.customers.getParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.getParties>

      <commerce.customers.removeParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.removeParties>

      <commerce.customers.updateParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInExternalSystem, Sitecore.Commerce"/>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInSitecore, Sitecore.Commerce">
          <param desc="customerRepository" ref="sitecoreCustomerRepository" />
        </processor>
      </commerce.customers.updateParties>

      <commerce.customers.updatePassword>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePassword, Sitecore.Commerce">
          <param desc="userRepository" ref="sitecoreUserRepository" />
        </processor>
      </commerce.customers.updatePassword>

    </pipelines>
  </sitecore>
</configuration>