<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce payment entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <PaymentOption type="Sitecore.Commerce.Entities.Payments.PaymentOption, Sitecore.Commerce"/>
      <PaymentMethod type="Sitecore.Commerce.Entities.Payments.PaymentMethod, Sitecore.Commerce"/>
      <PaymentOptionType type="Sitecore.Commerce.Entities.Payments.PaymentOptionType, Sitecore.Commerce"/>
    </commerce.Entities>

    <!-- PAYMENT SERVICE PROVIDER 
         Defines the object which provides core payment services.
         Default implementation simply calls corresponding pipelines.
    -->
    <paymentServiceProvider type="Sitecore.Commerce.Services.Payments.PaymentServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <pipelines>

      <commerce.payments.getPaymentOptions>
      </commerce.payments.getPaymentOptions>

      <commerce.payments.getPaymentMethods>
      </commerce.payments.getPaymentMethods>

      <commerce.payments.getPricesForPayments>
      </commerce.payments.getPricesForPayments>
    </pipelines>

  </sitecore>
</configuration>