<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce loyalty program entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <LoyaltyCard type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyCard, Sitecore.Commerce"/>
      <LoyaltyCardTier type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyCardTier, Sitecore.Commerce"/>
      <LoyaltyCardTransaction type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyCardTransaction, Sitecore.Commerce"/>
      <LoyaltyProgram type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyProgram, Sitecore.Commerce"/>
      <LoyaltyProgramStatus type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyProgramStatus, Sitecore.Commerce"/>
      <LoyaltyProgramSummary type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyProgramSummary, Sitecore.Commerce"/>
      <LoyaltyRewardPoint type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyRewardPoint, Sitecore.Commerce"/>
      <LoyaltyTier type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyTier, Sitecore.Commerce"/>
      <LoyaltyCardPaymentInfo type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyCardPaymentInfo, Sitecore.Commerce"/>
      <RewardPointType type="Sitecore.Commerce.Entities.LoyaltyPrograms.RewardPointType, Sitecore.Commerce"/>
      <LoyaltyRewardPointEntryType type="Sitecore.Commerce.Entities.LoyaltyPrograms.LoyaltyRewardPointEntryType, Sitecore.Commerce"/>
    </commerce.Entities>

    <!-- LOYALTY PROGRAM SERVICE PROVIDER 
         Defines the object which provides core loyalty program services.
         Default implementation simply calls corresponding pipelines.
    -->
    <loyaltyProgramServiceProvider type="Sitecore.Commerce.Services.LoyaltyPrograms.LoyaltyProgramServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <pipelines>
      <commerce.loyaltyPrograms.getLoyaltyPrograms>
      </commerce.loyaltyPrograms.getLoyaltyPrograms>

      <commerce.loyaltyPrograms.getLoyaltyProgram>
      </commerce.loyaltyPrograms.getLoyaltyProgram>

      <commerce.loyaltyPrograms.getLoyaltyProgramStatus>
      </commerce.loyaltyPrograms.getLoyaltyProgramStatus>

      <commerce.loyaltyPrograms.joinLoyaltyProgram>
        <processor type="Sitecore.Commerce.Pipelines.LoyaltyPrograms.JoinLoyaltyProgram.TriggerLoyaltyProgramJoinedGoal, Sitecore.Commerce">
          <Name>Loyalty Program Joined</Name>
          <Text>Loyalty program has been joined.</Text>
        </processor>
      </commerce.loyaltyPrograms.joinLoyaltyProgram>

      <commerce.loyaltyPrograms.getLoyaltyCards>
      </commerce.loyaltyPrograms.getLoyaltyCards>

      <commerce.loyaltyPrograms.getLoyaltyCardTransactions>
      </commerce.loyaltyPrograms.getLoyaltyCardTransactions>

      <commerce.loyaltyPrograms.updateLoyaltyCardId>
      </commerce.loyaltyPrograms.updateLoyaltyCardId>
    </pipelines>

  </sitecore>
</configuration>