<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce price entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <Price type="Sitecore.Commerce.Entities.Prices.Price, Sitecore.Commerce" />
      <PriceCondition type="Sitecore.Commerce.Entities.Prices.PriceCondition, Sitecore.Commerce" />
      <Total type="Sitecore.Commerce.Entities.Prices.Total, Sitecore.Commerce" />
      <TaxTotal type="Sitecore.Commerce.Entities.Prices.TaxTotal, Sitecore.Commerce" />
      <TaxSubtotal type="Sitecore.Commerce.Entities.Prices.TaxSubtotal, Sitecore.Commerce" />
    </commerce.Entities>
    
    <!--  PRICING SERVICE PROVIDER
    -->
    <pricingServiceProvider type="Sitecore.Commerce.Services.Prices.PricingServiceProvider, Sitecore.Commerce" singleInstance="true" />
    
    <pipelines>

      <!--  GET CART TOTAL
            Gets the totals object that matches the specified criteria.
            This pipeline is responsible for reading pricing data from a commerce system.
            This pipeline converts the contents of an Commerce cart into a format the commerce system can understand,
            requests the commerce system calculate the totals, and then converts the output into the proper Commerce format.
       -->
      <commerce.prices.getCartTotal>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetCartTotal.GetCartTotal, Sitecore.Commerce" />
      </commerce.prices.getCartTotal>

      <!--  GET PRODUCT PRICES
            Gets the price object that matches the specified criteria.
            This pipeline is responsible for reading pricing data from a commerce system.
            This pipeline requests product pricing information from the commerce system and
            then converts the output into the proper Commerce format.
      -->
      <commerce.prices.getProductPrices>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductPrices.GetProductPrices, Sitecore.Commerce" />
      </commerce.prices.getProductPrices>

      <!--  GET PRODUCT BULK PRICES
            Gets the prices for the specified list of product ids.
            This pipeline is reponisble for reading pricing data for multiple products in a
            single request to commerce system.
            This pipeline requests product pricing information from the commerce system and
            then converts the output into the proper Commerce format.
      -->
      <commerce.prices.getProductBulkPrices>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductBulkPrices.GetProductBulkPrices, Sitecore.Commerce" />
      </commerce.prices.getProductBulkPrices>
    
      <!-- GET SUPPORTED CURRENCIES
          Gets the supported currencies for a shop.
      -->
      <commerce.prices.getSupportedCurrencies>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetSupportedCurrencies.GetSupportedCurrencies, Sitecore.Commerce" />
      </commerce.prices.getSupportedCurrencies>
    </pipelines>
  </sitecore>
</configuration>