<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <CartLinesPageEventJson type="Sitecore.Commerce.ExperienceProfile.Client.Models.JSON.CartLinesPageEventJson, Sitecore.Commerce.ExperienceProfile.Client" />
      <CartLineDataJson type="Sitecore.Commerce.ExperienceProfile.Client.Models.JSON.CartLineDataJson, Sitecore.Commerce.ExperienceProfile.Client" />
      <SubmittedOrderOutcomeJson type="Sitecore.Commerce.ExperienceProfile.Client.Models.JSON.SubmittedOrderOutcomeJson, Sitecore.Commerce.ExperienceProfile.Client"/>
    </commerce.Entities>

    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <cart-removals>
            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.CartRemoval.Processors.ConstructCartRemovalsTable, Sitecore.Commerce.ExperienceProfile.Client" />

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.SetAdditionalReportParameters, Sitecore.Commerce.ExperienceProfile.Client">
              <ItemIds>{7A6AAD99-E12F-40D9-AE46-8F056B447ED6}</ItemIds>
            </processor>
            
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">get-pageevents</param>
            </processor>

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.CartRemoval.Processors.PopulateCartRemovalsWithXdbData, Sitecore.Commerce.ExperienceProfile.Client">
              <param ref="entityFactory" />
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </cart-removals>

          <order-outcomes>
            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderOutcomes.Processors.ConstructOrderOutcomesTable, Sitecore.Commerce.ExperienceProfile.Client" />

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.SetAdditionalReportParameters, Sitecore.Commerce.ExperienceProfile.Client">
              <ItemIds>{9016E456-95CB-42E9-AD58-997D6D77AE83}</ItemIds>
              <CustomValueKeys>ShopName|ExternalId|Order</CustomValueKeys>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">get-outcomes</param>
            </processor>

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderOutcomes.Processors.PopulateOrderOutcomesWithXdbData, Sitecore.Commerce.ExperienceProfile.Client">
              <param ref="entityFactory" />
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </order-outcomes>

          <order-details>
            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderDetails.Processors.ConstructOrderLinesTable, Sitecore.Commerce.ExperienceProfile.Client" />

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.SetAdditionalReportParameters, Sitecore.Commerce.ExperienceProfile.Client">
              <ItemIds>{9016E456-95CB-42E9-AD58-997D6D77AE83}</ItemIds>
              <CustomValueKeys>ShopName|ExternalId|Order</CustomValueKeys>
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">get-outcomes</param>
            </processor>

            <processor type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderDetails.Processors.PopulateOrderLinesWithXdbData, Sitecore.Commerce.ExperienceProfile.Client">
              <param ref="entityFactory" />
            </processor>

            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </order-details>
        </pipelines>
      </group>

    </pipelines>

    <experienceProfile>
      <resultTransformExtenders>
        <customExtender type="Sitecore.Commerce.ExperienceProfile.Client.CustomResultSetExtender, Sitecore.Commerce.ExperienceProfile.Client"/>
      </resultTransformExtenders>
      
      <resultTransformManager>

        <!-- If http request header "X-SC-CintelTransformerClientName" matches clientName element, then the result transformer provider is applied -->
        <resultTransformProvider clientName="speakClient" type="Sitecore.Cintel.Endpoint.Transfomers.ResultTransformProvider" singleInstance="true">

          <!-- If http request header "X-SC-CintelTransfomerKey" matches a viewName element, then the result transformer is applied -->
          <intelResultTransformers>
            <add viewName="cart-removals" type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.CartRemoval.CartRemovalsTransformer, Sitecore.Commerce.ExperienceProfile.Client"/>
            <add viewName="order-outcomes" type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderOutcomes.OrderOutcomesTransformer, Sitecore.Commerce.ExperienceProfile.Client"/>
            <add viewName="order-details" type="Sitecore.Commerce.ExperienceProfile.Client.Contact.Commerce.OrderDetails.OrderLinesTransformer, Sitecore.Commerce.ExperienceProfile.Client"/>
          </intelResultTransformers>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>