<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce wishlist entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <WishList type="Sitecore.Commerce.Entities.WishLists.WishList, Sitecore.Commerce" />
      <WishListHeader type="Sitecore.Commerce.Entities.WishLists.WishListHeader, Sitecore.Commerce" />
      <WishListLine type="Sitecore.Commerce.Entities.WishLists.WishListLine, Sitecore.Commerce" />
    </commerce.Entities>

    <!-- WISHLIST SERVICE PROVIDER 
         Defines the object which provides core wishlist services.
         Default implementation simply calls corresponding pipelines.
    -->
    <wishListServiceProvider type="Sitecore.Commerce.Services.WishLists.WishListServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <pipelines>
      <!--
          Integration point

          This is where you would add your custom component to add lines to a wishlist.
      -->
      <commerce.wishLists.addLinesToWishList>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.AddLinesToWishList.TriggerLinesAddedToWishListPageEvent, Sitecore.Commerce">
          <Name>Lines Added To WishList</Name>
          <Text>Lines added to the wish list.</Text>
        </processor>
      </commerce.wishLists.addLinesToWishList>

      <!--
          Integration point

          This is where you would add your custom component to create a wishlist.
      -->
      <commerce.wishLists.createWishList>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.CreateWishList.TriggerWishListCreatedPageEvent, Sitecore.Commerce">
          <Name>WishList Created</Name>
          <Text>Wish list has been created.</Text>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.CreateWishList.AddVisitorToEaPlan, Sitecore.Commerce">
          <param ref="eaPlanProvider" />
          <EngagementPlanName>WishList Created</EngagementPlanName>
          <InitialStateName>Initial State</InitialStateName>
        </processor>
      </commerce.wishLists.createWishList>

      <!--
          Integration point

          This is where you would add your custom component to delete a wishlist.
      -->
      <commerce.wishLists.deleteWishList>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.DeleteWishList.TriggerWishListDeletedPageEvent, Sitecore.Commerce">
          <Name>WishList Deleted</Name>
          <Text>Wish list has been deleted.</Text>
        </processor>
      </commerce.wishLists.deleteWishList>

      <!--
          Integration point

          This is where you would add your custom component to email wishlists.
      -->
      <commerce.wishLists.emailWishLists>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.EmailWishLists.TriggerWishListsEmailedPageEvent, Sitecore.Commerce">
          <Name>WishList Emailed</Name>
          <Text>Wish lists have been emailed.</Text>
        </processor>
      </commerce.wishLists.emailWishLists>

      <!--
          Integration point

          This is where you would add your custom component to get a specific wishlist.
      -->
      <commerce.wishLists.getWishList>
      </commerce.wishLists.getWishList>

      <!--
          Integration point

          This is where you would add your custom component to get wishlists.
      -->
      <commerce.wishLists.getWishLists>
      </commerce.wishLists.getWishLists>

      <!--
          Integration point

          This is where you would add your custom component to update a wishlist.
      -->
      <commerce.wishLists.updateWishList>
      </commerce.wishLists.updateWishList>

      <!--
          Integration point

          This is where you would add your custom component to update wishlist lines.
      -->
      <commerce.wishLists.updateWishListLines>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.UpdateWishListLines.TriggerLinesUpdatedOnWishListPageEvent, Sitecore.Commerce">
          <Name>Lines Updated On WishList</Name>
          <Text>Lines updated on the wish list.</Text>
        </processor>
      </commerce.wishLists.updateWishListLines>

      <!--
          Integration point

          This is where you would add your custom component to print a wishlist.
      -->
      <commerce.wishLists.printWishList>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.PrintWishList.TriggerWishListPrintedPageEvent, Sitecore.Commerce">
          <Name>WishList Printed</Name>
          <Text>Wish list has been printed.</Text>
        </processor>
      </commerce.wishLists.printWishList>

      <!--
          Integration point

          This is where you would add your custom component to remove lines from a wishlist.
      -->
      <commerce.wishLists.removeWishListLines>
        <processor type="Sitecore.Commerce.Pipelines.WishLists.RemoveWishListLines.TriggerLinesRemovedFromWishListPageEvent, Sitecore.Commerce">
          <Name>Lines Removed From WishList</Name>
          <Text>Lines removed from the wish list.</Text>
        </processor>
      </commerce.wishLists.removeWishListLines>
    </pipelines>

  </sitecore>
</configuration>