################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.sln.docstates
/ECS/nop/Plugins/packages
/Website/.vs
/Website/bin
/Website/obj
/Sitecore.Commerce.PaymentService/obj
/Sitecore.Commerce.PaymentService.dacpac/bin
/Sitecore.Commerce.PaymentService.dacpac/obj
/Website/Tests/bin
/Website/Tests/obj
/packages
/Website/packages
/Sitecore.Commerce.PaymentService/bin
/Sitecore.Commerce.PaymentService.dacpac/Sitecore.Commerce.PaymentService.dacpac.dbmdl
/Website/Nop/bin
/Website/Nop/obj
/Website/Nop/Tests/bin
/Website/Nop/Tests/obj
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Carts/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Carts.Tests/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Common/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Customers/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Inventory/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Orders/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments.SamplePaymentService/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments.SamplePaymentService/Plugin/Sitecore.Commerce.Nop.Payments.SamplePaymentService.dll
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Prices/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Prices.Tests/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Products/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Products.Tests/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Shipping/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Tests/obj/Debug
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Wishlists/obj/Debug
/ECS/nop/Presentation/Nop.Web/Plugins
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Carts/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Carts.Tests/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Common/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Customers/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Inventory/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Orders/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments.SamplePaymentService/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Prices/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Prices.Tests/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Products/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Products.Tests/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Shipping/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Tests/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Wishlists/obj/Release
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Carts/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Customers/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Inventory/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Orders/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Payments/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Prices/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Products/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Shipping/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Tests/packages
/ECS/nop/Plugins/Sitecore.Commerce.Nop.Wishlists/packages
/Sitecore.Commerce.PaymentService/packages
