################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.sln.docstates
/ECS/nop/Plugins/packages
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.Tests/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Orders/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Common/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Customers/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Inventory/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Payments/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.Tests/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.Tests/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Shipping/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Tests/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Wishlists/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Common/bin
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Payments/bin
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/xunit.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/xunit.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.Deployment.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.WebPages.Deployment.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.Mvc.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/System.Web.Mvc.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/NSubstitute.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/NSubstitute.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Services.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Common.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Common.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.Tests.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.Tests.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Nop.Core.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Microsoft.Web.Infrastructure.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/Microsoft.Web.Infrastructure.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/FluentAssertions.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/FluentAssertions.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Carts/FluentAssertions.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/xunit.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/xunit.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.Deployment.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.WebPages.Deployment.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.Mvc.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/System.Web.Mvc.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/NSubstitute.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/NSubstitute.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Services.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.Tests.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.Tests.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Nop.Core.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Microsoft.Web.Infrastructure.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/Microsoft.Web.Infrastructure.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/FluentAssertions.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/FluentAssertions.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Products/FluentAssertions.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/xunit.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/xunit.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.Deployment.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.WebPages.Deployment.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.Razor.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.Razor.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.Mvc.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/System.Web.Mvc.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/NSubstitute.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/NSubstitute.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Services.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.Tests.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.Tests.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Nop.Core.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Microsoft.Web.Infrastructure.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/Microsoft.Web.Infrastructure.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/FluentAssertions.xml
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/FluentAssertions.pdb
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Prices/FluentAssertions.dll
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Shipping/bin
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Wishlists.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Wishlists.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Common.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Common.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.dll.config
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Nop.Plugin.Sitecore.Obec.Carts.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Carts/Remote/WishlistsService.svc
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Customers/Nop.Plugin.Sitecore.Obec.Customers.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Customers/Nop.Plugin.Sitecore.Obec.Customers.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Customers/Nop.Plugin.Sitecore.Obec.Common.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Customers/Nop.Plugin.Sitecore.Obec.Common.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Tests/Nop.Plugin.Sitecore.Obec.Tests.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Tests/Nop.Plugin.Sitecore.Obec.Tests.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.dll.config
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Products/Nop.Plugin.Sitecore.Obec.Products.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Prices/Nop.Plugin.Sitecore.Obec.Prices.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Orders.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Orders.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Common.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Common.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Carts.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Carts.dll.config
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Orders/Nop.Plugin.Sitecore.Obec.Carts.dll
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Inventory/Nop.Plugin.Sitecore.Obec.Inventory.pdb
/ECS/nop/Presentation/Nop.Web/Plugins/Sitecore.Obec.Inventory/Nop.Plugin.Sitecore.Obec.Inventory.dll
/Website/.vs
/Website/bin
/Website/obj
/Sitecore.Commerce.PaymentService/obj
/Sitecore.Commerce.PaymentService.dacpac/bin
/Sitecore.Commerce.PaymentService.dacpac/obj
/Website/Tests/bin
/Website/Tests/obj
/packages
/Website/packages
/Sitecore.Commerce.PaymentService/bin
/Sitecore.Commerce.PaymentService.dacpac/Sitecore.Commerce.PaymentService.dacpac.dbmdl
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Payments.SamplePaymentService/bin
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Payments.SamplePaymentService/obj
/ECS/nop/Plugins/Nop.Plugin.Sitecore.Obec.Payments.SamplePaymentService/Plugin/Nop.Plugin.Sitecore.Obec.Payments.SamplePaymentService.dll
/Website/Nop/bin
/Website/Nop/obj
/Website/Nop/Tests/bin
/Website/Nop/Tests/obj
