<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ecommerce/ProductService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductService" contract="CommerceProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
</configuration>