<?xml version="1.0"?>
<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="httpUserAgent" type="Sitecore.Commerce.Connectors.NopCommerce.ServiceModel.Configuration.HttpUserAgentBehaviorExtensionElement, Sitecore.Commerce.Connectors.NopCommerce" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior">
          <httpUserAgent userAgent="Mozilla/5.0 (compatible; Googlebot/2.1;+http://www.google.com/bot.html)" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductsService" maxReceivedMessageSize="1111111111" />
        <binding name="BasicHttpBinding_ICartsService" />
        <binding name="BasicHttpBinding_IPricesService" />
        <binding name="BasicHttpBinding_ICustomersService" />
        <binding name="BasicHttpBinding_IInventoryService" />
		    <binding name="BasicHttpBinding_IPaymentService" />
		    <binding name="BasicHttpBinding_IShippingService" />
        <binding name="BasicHttpBinding_IOrdersService" />
		    <binding name="BasicHttpBinding_IWishlistsService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Products/Remote/ProductsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductsService"
        contract="NopProductsService.IProductsService"
        name="BasicHttpBinding_IProductsService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior" />
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Carts/Remote/CartsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICartsService"
        contract="NopCartsService.ICartsService" name="BasicHttpBinding_ICartsService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Prices/Remote/PricesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPricesService"
        contract="NopPricesService.IPricesService" name="BasicHttpBinding_IPricesService" 
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Customers/Remote/CustomersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomersService"
        contract="NopCustomersService.ICustomersService" name="BasicHttpBinding_ICustomersService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Inventory/Remote/InventoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryService"
        contract="NopInventoryService.IInventoryService" name="BasicHttpBinding_IInventoryService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
	    <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Payments/Remote/PaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
        contract="NopPaymentService.IPaymentService" name="BasicHttpBinding_IPaymentService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
	    <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Shipping/Remote/ShippingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingService"
        contract="NopShippingService.IShippingService" name="BasicHttpBinding_IShippingService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
      <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Orders/Remote/OrdersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersService"
        contract="NopOrdersService.IOrdersService" name="BasicHttpBinding_IOrdersService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>
	    <endpoint address="http://ecommercenop/Plugins/Sitecore.Commerce.Nop.Wishlists/Remote/WishlistsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWishlistsService"
        contract="NopWishlistsService.IWishlistsService" name="BasicHttpBinding_IWishlistsService"
        behaviorConfiguration="MakeNOPThinkCommerceServiceRequestsIsFromACrawlerEndpointBehavior"/>	
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>