@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Commerce.StarterKit

<ul>
  @if (Request.IsAuthenticated)
  {
    <li>
      <a class="quicklink-space" href="/user">@Sitecore.Context.User.LocalName</a>
      <span>|</span>
      <a class="quicklink-space" href="javascript:document.getElementById('logoutForm').submit()">@Texts.Logout</a>
    </li>
    <text>
      @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", style = "margin: 0px;" }))
      {
        @Html.AntiForgeryToken()
      }
    </text>
  }
  else
  {
    <li>
      <a class="quicklink-space" href="/register">Register</a>
    </li>
    <li>
      <a class="quicklink-space" href="/login">Log in</a>
    </li>
  }
</ul>
